# Ignore everything.
*

# Unignore files with extensions.
!*.*

# Unignore directories.
!*/

# Unignore doxygen Doxyfile
!Doxyfile

# After the above, files without extensions (executables) are ignored.

bin/
bin/*
build/
*.swp
*.o
